
  @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
#hero{
  margin-top:100px;
}
.overlay{
  background: rgba(0,0,0,0.5);
}
.read-more-content {
  overflow: hidden;
  max-height: 80px; 
  transition: max-height 0.3s ease-out;
}

.read-more-button {
  cursor: pointer;
  color: #007bff; /* Change the color as needed */
}
.gradient-bg {
  background: linear-gradient(to right, #000000, #0a0a0a); /* Adjust color values as needed */
}
#more {display: none;}
#nav {
  transition: background-color 0.3s ease;
   z-index: 10
}
#close-mobile-menu {
  z-index: 200; /* Choose a value higher than 999 */
}
.fixed-nav {
  background-color: rgba(255, 255, 255, 0.95); /* Adjust the background color as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#hero{
    background:url("../images/business.png");
    margin-top:10px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.tracking-1-92 {
    letter-spacing: 1.92px;
  }

  .btn{
display: flex;
width: 336px;
height: 96px;
padding: 21px 65px 21px 66px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 6px;
background: #F3FD6B;
  }

  #coin-phone {
    background-image: url("../images/coin-phone.png");
    background-repeat: no-repeat;
    background-position:25% center;
    background-size: 40% auto;
}
  .image-height{
    width:100px;
    height:100px
  }
  /* #mobile-menu-container.visible {
    display: block;
}


#mobile-menu-container { */
    /* display: none;
} */

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    width: 100%;
    max-width: 600px;
    animation: slideIn 1s ease-out;
}

.slide-in-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.slide-in-container h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #F7931A;
    margin-top: 1rem;
}

.slide-in-container p {
    font-size: 1rem;
    color: #F7931A;
    font-weight: medium;
    text-align: center;
}
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.visible {
  animation: fadeIn 1s ease-in-out;
}

@media only screen and (max-width: 768px) {
  #coin-phone {
     background-image:none;
  }
}